.clear {
    clear: both;
}
.text-center{
    text-align: center;
}
.text-white {
    color: white !important;
}

.row{
    margin-right: -8px;
    margin-left: -8px;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-3{
    width: 33.33333%;
}
.col-2{
    width: 50%;
}
.col-full{
    width: 100%;
}
.mt-8{
    margin-top: 8px !important;
}
.mt-16{
    margin-top: 16px !important;
}
/* common */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

#main {}

#header {
    height: 46.5px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 500;
}

#nav {
    display: inline-block;
}

#nav,
.subnav {
    list-style-type: none;

}

#nav>li {
    display: inline-block;
    position: relative;
}

#nav>li>a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    color: #fff;
    text-decoration: none;
    line-height: 46.5px;
    padding: 0px 24px;
    display: block;
}

#nav .subnav a {
    color: #000;
    padding: 0px 12px;
    line-height: 38px;
}
#header .menu-mobile,
#header .search-btn {
    color: #fff;
    float: right;
    line-height: 46.5px;
    padding: 0px 23px;
}
#header .menu-mobile{
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}
#header .menu-mobile:hover{
    background-color: #ccc;
    color: #000 ;
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

#nav .subnav>li:hover,
#nav>li:hover>a {
    color: #000;
    background-color: #ccc;
    width: 100%;
    cursor: pointer;
}

#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    min-width: 160px;
}

#nav li:hover .subnav {
    display: block;
    cursor: pointer;
}

#slider {
    background: url("/../img/slider/la.jpg") top center / cover no-repeat;
    margin-top: 46px;
    padding-top: 50%;
    position: relative;
}

#slider .text-content {
    position: absolute;
    color: #fff;
    bottom: 32px;
    /* left: 50%;
    transform: translateX(-50%);  */
    text-align: center;
    width: 100%;
}

#slider .text-heading {
    font-size: 24px;
}

#slider .text-decription {
    font-size: 15px;
    margin-top: 25px;
}


#container {}

#content {}

#content .content-section {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0px;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading {
    font-size: 30px;
    letter-spacing: 4px;
    margin: 10px 0px;
    text-align: center;
}

#content .section-sub-heading {
    font-size: 15px;
    font-style: italic;
    color: #000;
    margin: 15px 0px;
    opacity: 0.7;
    text-align: center;
}

#content .about-text {
    text-align: justify;
    line-height: 1.4;
    font-size: 15px;
}

#content .member-list {
    padding: 32px 0px;
    display: block;
}

#content .member-item {
    text-align: center;
}

#content .member-name {
    font-size: 15px;
}

#content .member-img {
    width: 154px;
    margin-top: 15px;
    border-radius: 4px;
}

#content .tour-section {
    background-color: #000;
}

#content .ticket-list {
    background-color: #fff;
    margin-top: 40px;
    list-style: none;
}

.ticket-list .sold-out {
    background-color: #f44336;
    padding: 0px 8px;
    margin-left: 16px;
}

.ticket-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}

.ticket-list li {
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ccc;
}

.places {
    margin-top: 16px;
    margin-bottom:  48px;
}
.place-img {
    width: 100%;
    display: block;
}

.place-img:hover {
    opacity: 0.6;
}

.place-body {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.place-heading {
    font-size: 15px;
    font-weight: 600;

}

.place-time {
    margin-top: 15px;
    color: #757575;
}

.place-content {
    margin-top: 15px;
    line-height: 1.6;
}

.place-buy {
    background-color: #000;
    color: #fff;
    padding: 8px 16px;
    font-size: 15px;
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    border: none;
}

.place-buy:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}



.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-container {
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalIn ease .3s;
}

.modal-header {
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #009688;
    color: #fff;
    font-size: 30px;
}

.header-icon {
    margin-right: 16px;
}

i.ti-close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px;
    color: #fff;
}

.ti-close:hover {
    background-color: #ccc;
    cursor: pointer;
    color: #000;
}

.modal-body {
    padding: 16px;
}

.modal-label {
    font-size: 15px;
    display: block;
    margin-bottom: 12px;
}

.modal-input {
    width: 100%;
    margin-bottom: 24px;
    border: 1px solid #757575;
    padding: 15px;
    font-size: 15px;
}

#buy-ticket {
    height: 50px;
    width: 100%;
    background-color: #009688;
    color: #fff;
    text-transform: uppercase;
    padding: 16px;
    cursor: pointer;
    border: none;
}

#buy-ticket:hover {
    background-color: #ccc;
    color: #000;
}

.modal-help {
    padding: 16px;
    text-align: right;
}

.modal-help a {
    color: aqua;
}

.modal.open {
    display: flex;
}

@keyframes modalIn {
    from {
        transform: translateY(-100px);
    }
    
    to {
        transform: translateY(0);
    }
}
.contact-content {
    margin-top:48px;
}
.contact-info i[class*="ti-"]{
    width: 30px;
    display:inline-block;
}
.contact-info{
    font-size: 18px;
    line-height: 1.5;
}
.form-control{
    font-size: 15px;
}
.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}
.contact-form .form-submit-btn{
    color: #fff;
    float: right;
    border: none;
    padding: 8px 16px;
    background-color: #000;
}
.contact-form .form-submit-btn:hover{
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}
.map-section img{
    width: 100%;
}
#footer {
    padding:64px 16px;
    text-align: center;
    color: #757575;
}
#footer .cocials-list {
    font-size: 24px;
}
#footer .a-copyright{
    color: #757575;
}
#footer .cocials-list a {
    color: #757575;
    text-decoration: none;
}
#footer .cocials-list a:hover,
#footer .a-copyright:hover {
    opacity: 0.4;
}
#footer .copyright{
    margin:15px 0px;
}